<section class="container">
  <h1>Hard & soft skills</h1>
  <button type="button" routerLink="/newskill" class="btn btn-light" *ngIf="isLogged">Nueva skill</button>
  <div class="row">
    <div class="text-center col-sm-6 col-lg-3" *ngFor="let skill of listOfSkills">
      <circle-progress
        [percent]="skill.porcentaje"
        [radius]="100"
        [title]="skill.nombre"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#6c757d'"
        [innerStrokeColor]="'#6c757d'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        <div>
          <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
            <i class="bi bi-pencil"></i></button>


          <button class="btn btn-secondary" (click)="delete(skill.id)">
            <i class="bi bi-trash-fill"></i></button>
        </div>

    </div>

    <div class="text-center col-sm-6 col-lg-3">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-lg-3">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-lg-3">
      <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-lg-3">
      <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-lg-3">
      <circle-progress
        [percent]="15"
        [radius]="100"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'grey'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

  </div>
</section>
