<div class="container">
  <h1>Educación</h1>
  <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
    Nueva educación
  </button>
  <table class="table table-responsive table-portfolio">
    <tbody>
      <tr *ngFor="let Educacion of educacion">
        <td>{{Educacion.nombreE}}</td>
        <td>{{Educacion.descripcionE}}</td>
        <td *ngIf="isLogged" class="table-portfolio-buttons">
          <button class="btn btn-light btn-sm" routerLink="/editedu/{{Educacion.id}}">
            <i class="bi bi-pencil"></i>Editar</button>
          <button class="btn btn-secondary btn-sm" (click)="borrar(Educacion.id)">
            <i class="bi bi-trash-fill"></i>Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
