<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/photo_cv.png"  class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
            <p id="nombre">Sandoval Johana Mónica</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Iniciando en el mundo del desarrollo de software soy una persona
                    responsable, proactiva y autodidacta con habilidades en relación
                    con el cliente. Me gusta enfrentar nuevos desafíos, adquirir
                    nuevos conocimientos y trabajar en equipo. Siempre dispuesta a
                    colaborar con mis colegas.</p>
            </span>
        </div>
    </div>
</div>